In [4]:
pip install mysql

Requirement already satisfied: mysql in c:\users\raora\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: mysqlclient in c:\users\raora\anaconda3\lib\site-packages (from mysql) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip search mysql-connector | grep --color mysql-connector-python

Note: you may need to restart the kernel to use updated packages.

'grep' is not recognized as an internal or external command,
operable program or batch file.

In [6]:
 pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\raora\anaconda3\lib\site-packages (0.10.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='localhost', database='cms', user='root', password='')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM tblcomplaints')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

In [8]:
pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in c:\users\raora\anaconda3\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://root:@localhost/cms'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM tblcomplaints', con=db_connection)

In [10]:
df

,complaintNumber,userId,category,subcategory,complaintType,state,noc,complaintDetails,complaintFile,regDate,status,lastUpdationDate
0,25,1,3,irregular water supply,General Query,Punjab,water supply,my water supply is irregular . and not coming ...,,2020-12-05 04:21:13,closed,2020-12-10 10:20:26
1,27,1,4,voltage problem,General Query,Haryana,voltage fluctuation,eletronics not working properly because of irr...,customer.csv,2020-12-05 04:26:46,in process,2020-12-05 12:25:19
2,28,2,5,potholes,General Query,Delhi,bad roads,roads are in a very bad shape and they cause m...,,2020-12-05 10:38:13,closed,2020-12-05 10:43:16
3,29,1,3,irregular water supply,General Query,Punjab,voltage fluctuation,I am calling to report a plumbing issue in my ...,,2020-12-05 11:14:11,closed,2020-12-05 15:42:50
4,30,1,4,load shedding,General Query,Delhi,voltage fluctuation,I am calling to report a problem with our elec...,,2020-12-05 11:14:36,in process,2021-03-12 14:18:26
5,31,1,5,potholes,General Query,Punjab,bad roads,I am calling to report an issue with our washe...,,2020-12-05 11:15:04,closed,2021-03-12 15:52:27
6,32,1,4,voltage problem,General Query,Punjab,voltage fluctuation,My name is Monica Thomson. I am in 1B. My gara...,,2020-12-05 11:15:33,closed,2021-03-24 14:03:15
7,33,1,4,load shedding,General Query,Uttar Pradesh,voltage fluctuation,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:15:59,closed,2021-03-24 14:05:07
8,34,2,5,potholes,General Query,Uttar Pradesh,water supply,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:48:41,closed,2021-03-24 14:07:42
9,35,1,5,potholes,General Query,Uttar Pradesh,water supply,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:49:23,None,NaT
10,36,1,4,voltage problem,General Query,Punjab,voltage fluctuation,electricity out for 5 days,,2020-12-05 12:26:43,None,NaT
11,37,1,3,contaminated water,Complaint,Haryana,water supply,water is very bad,,2020-12-10 11:00:12,None,NaT
12,38,1,4,voltage problem,Complaint,Delhi,voltage fluctuation,i have voltage problem,PPT FINAL PROJECT.pptx,2020-12-10 11:32:51,closed,2020-12-10 11:34:46
13,39,1,4,voltage problem,Complaint,Delhi,voltage fluctuation,i have voltage problem,PPT FINAL PROJECT.pptx,2020-12-10 11:50:25,None,NaT
14,40,1,3,irregular water supply,Complaint,Punjab,water supply,irrigulay water supply . i am facing a lot of ...,,2021-03-24 14:12:53,None,NaT

In [11]:
import nltk
#nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
df['score2'] = df['complaintDetails'].apply(lambda review: sid.polarity_scores(review))

df.head()

,complaintNumber,userId,category,subcategory,complaintType,state,noc,complaintDetails,complaintFile,regDate,status,lastUpdationDate,score2
0,25,1,3,irregular water supply,General Query,Punjab,water supply,my water supply is irregular . and not coming ...,,2020-12-05 04:21:13,closed,2020-12-10 10:20:26,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,27,1,4,voltage problem,General Query,Haryana,voltage fluctuation,eletronics not working properly because of irr...,customer.csv,2020-12-05 04:26:46,in process,2020-12-05 12:25:19,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,28,2,5,potholes,General Query,Delhi,bad roads,roads are in a very bad shape and they cause m...,,2020-12-05 10:38:13,closed,2020-12-05 10:43:16,"{'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'comp..."
3,29,1,3,irregular water supply,General Query,Punjab,voltage fluctuation,I am calling to report a plumbing issue in my ...,,2020-12-05 11:14:11,closed,2020-12-05 15:42:50,"{'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'comp..."
4,30,1,4,load shedding,General Query,Delhi,voltage fluctuation,I am calling to report a problem with our elec...,,2020-12-05 11:14:36,in process,2021-03-12 14:18:26,"{'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'com..."

In [12]:
df['compound']  = df['score2'].apply(lambda score_dict: score_dict['compound'])

df.head()

,complaintNumber,userId,category,subcategory,complaintType,state,noc,complaintDetails,complaintFile,regDate,status,lastUpdationDate,score2,compound
0,25,1,3,irregular water supply,General Query,Punjab,water supply,my water supply is irregular . and not coming ...,,2020-12-05 04:21:13,closed,2020-12-10 10:20:26,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,27,1,4,voltage problem,General Query,Haryana,voltage fluctuation,eletronics not working properly because of irr...,customer.csv,2020-12-05 04:26:46,in process,2020-12-05 12:25:19,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,28,2,5,potholes,General Query,Delhi,bad roads,roads are in a very bad shape and they cause m...,,2020-12-05 10:38:13,closed,2020-12-05 10:43:16,"{'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'comp...",-0.8313
3,29,1,3,irregular water supply,General Query,Punjab,voltage fluctuation,I am calling to report a plumbing issue in my ...,,2020-12-05 11:14:11,closed,2020-12-05 15:42:50,"{'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'comp...",0.0772
4,30,1,4,load shedding,General Query,Delhi,voltage fluctuation,I am calling to report a problem with our elec...,,2020-12-05 11:14:36,in process,2021-03-12 14:18:26,"{'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'com...",-0.3400

In [13]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,complaintNumber,userId,category,subcategory,complaintType,state,noc,complaintDetails,complaintFile,regDate,status,lastUpdationDate,score2,compound,comp_score
0,25,1,3,irregular water supply,General Query,Punjab,water supply,my water supply is irregular . and not coming ...,,2020-12-05 04:21:13,closed,2020-12-10 10:20:26,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1,27,1,4,voltage problem,General Query,Haryana,voltage fluctuation,eletronics not working properly because of irr...,customer.csv,2020-12-05 04:26:46,in process,2020-12-05 12:25:19,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
2,28,2,5,potholes,General Query,Delhi,bad roads,roads are in a very bad shape and they cause m...,,2020-12-05 10:38:13,closed,2020-12-05 10:43:16,"{'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'comp...",-0.8313,neg
3,29,1,3,irregular water supply,General Query,Punjab,voltage fluctuation,I am calling to report a plumbing issue in my ...,,2020-12-05 11:14:11,closed,2020-12-05 15:42:50,"{'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'comp...",0.0772,pos
4,30,1,4,load shedding,General Query,Delhi,voltage fluctuation,I am calling to report a problem with our elec...,,2020-12-05 11:14:36,in process,2021-03-12 14:18:26,"{'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'com...",-0.3400,neg

In [14]:
df = df.sort_values(by ='compound' )
print("Contents of Sorted Dataframe based on a single column 'Name' : ")
print(df)

Contents of Sorted Dataframe based on a single column 'Name' :
    complaintNumber  userId  category             subcategory  complaintType  \
2                28       2         5                potholes  General Query
11               37       1         3      contaminated water      Complaint
12               38       1         4         voltage problem      Complaint
13               39       1         4         voltage problem      Complaint
14               40       1         3  irregular water supply      Complaint
4                30       1         4           load shedding  General Query
6                32       1         4         voltage problem  General Query
7                33       1         4           load shedding  General Query
8                34       2         5                potholes  General Query
9                35       1         5                potholes  General Query
0                25       1         3  irregular water supply  General Query
1                27       1         4         voltage problem  General Query
10               36       1         4         voltage problem  General Query
3                29       1         3  irregular water supply  General Query
5                31       1         5                potholes  General Query

            state                  noc  \
2           Delhi            bad roads
11        Haryana         water supply
12          Delhi  voltage fluctuation
13          Delhi  voltage fluctuation
14         Punjab         water supply
4           Delhi  voltage fluctuation
6          Punjab  voltage fluctuation
7   Uttar Pradesh  voltage fluctuation
8   Uttar Pradesh         water supply
9   Uttar Pradesh         water supply
0          Punjab         water supply
1         Haryana  voltage fluctuation
10         Punjab  voltage fluctuation
3          Punjab  voltage fluctuation
5          Punjab            bad roads

                                     complaintDetails           complaintFile  \
2   roads are in a very bad shape and they cause m...
11                                  water is very bad
12                             i have voltage problem  PPT FINAL PROJECT.pptx
13                             i have voltage problem  PPT FINAL PROJECT.pptx
14  irrigulay water supply . i am facing a lot of ...
4   I am calling to report a problem with our elec...
6   My name is Monica Thomson. I am in 1B. My gara...
7   My name is Avery Howard. I am in 2B. My heater...
8   My name is Avery Howard. I am in 2B. My heater...
9   My name is Avery Howard. I am in 2B. My heater...
0   my water supply is irregular . and not coming ...
1   eletronics not working properly because of irr...            customer.csv
10                         electricity out for 5 days
3   I am calling to report a plumbing issue in my ...
5   I am calling to report an issue with our washe...

               regDate      status    lastUpdationDate  \
2  2020-12-05 10:38:13      closed 2020-12-05 10:43:16
11 2020-12-10 11:00:12        None                 NaT
12 2020-12-10 11:32:51      closed 2020-12-10 11:34:46
13 2020-12-10 11:50:25        None                 NaT
14 2021-03-24 14:12:53        None                 NaT
4  2020-12-05 11:14:36  in process 2021-03-12 14:18:26
6  2020-12-05 11:15:33      closed 2021-03-24 14:03:15
7  2020-12-05 11:15:59      closed 2021-03-24 14:05:07
8  2020-12-05 11:48:41      closed 2021-03-24 14:07:42
9  2020-12-05 11:49:23        None                 NaT
0  2020-12-05 04:21:13      closed 2020-12-10 10:20:26
1  2020-12-05 04:26:46  in process 2020-12-05 12:25:19
10 2020-12-05 12:26:43        None                 NaT
3  2020-12-05 11:14:11      closed 2020-12-05 15:42:50
5  2020-12-05 11:15:04      closed 2021-03-12 15:52:27

                                               score2  compound comp_score
2   {'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'comp...   -0.8313        neg
11  {'neg': 0.558, 'neu': 0.442, 'pos': 0.0, 'comp...   -0.5849        neg
12  {'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'comp...   -0.4019        neg
13  {'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'comp...   -0.4019        neg
14  {'neg': 0.278, 'neu': 0.722, 'pos': 0.0, 'comp...   -0.4019        neg
4   {'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'com...   -0.3400        neg
6   {'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'comp...   -0.2411        neg
7   {'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...   -0.2411        neg
8   {'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...   -0.2411        neg
9   {'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...   -0.2411        neg
0   {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000        pos
1   {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000        pos
10  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000        pos
3   {'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'comp...    0.0772        pos
5   {'neg': 0.0, 'neu': 0.939, 'pos': 0.061, 'comp...    0.0772        pos

In [15]:
df

,complaintNumber,userId,category,subcategory,complaintType,state,noc,complaintDetails,complaintFile,regDate,status,lastUpdationDate,score2,compound,comp_score
2,28,2,5,potholes,General Query,Delhi,bad roads,roads are in a very bad shape and they cause m...,,2020-12-05 10:38:13,closed,2020-12-05 10:43:16,"{'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'comp...",-0.8313,neg
11,37,1,3,contaminated water,Complaint,Haryana,water supply,water is very bad,,2020-12-10 11:00:12,None,NaT,"{'neg': 0.558, 'neu': 0.442, 'pos': 0.0, 'comp...",-0.5849,neg
12,38,1,4,voltage problem,Complaint,Delhi,voltage fluctuation,i have voltage problem,PPT FINAL PROJECT.pptx,2020-12-10 11:32:51,closed,2020-12-10 11:34:46,"{'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'comp...",-0.4019,neg
13,39,1,4,voltage problem,Complaint,Delhi,voltage fluctuation,i have voltage problem,PPT FINAL PROJECT.pptx,2020-12-10 11:50:25,None,NaT,"{'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'comp...",-0.4019,neg
14,40,1,3,irregular water supply,Complaint,Punjab,water supply,irrigulay water supply . i am facing a lot of ...,,2021-03-24 14:12:53,None,NaT,"{'neg': 0.278, 'neu': 0.722, 'pos': 0.0, 'comp...",-0.4019,neg
4,30,1,4,load shedding,General Query,Delhi,voltage fluctuation,I am calling to report a problem with our elec...,,2020-12-05 11:14:36,in process,2021-03-12 14:18:26,"{'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'com...",-0.3400,neg
6,32,1,4,voltage problem,General Query,Punjab,voltage fluctuation,My name is Monica Thomson. I am in 1B. My gara...,,2020-12-05 11:15:33,closed,2021-03-24 14:03:15,"{'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'comp...",-0.2411,neg
7,33,1,4,load shedding,General Query,Uttar Pradesh,voltage fluctuation,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:15:59,closed,2021-03-24 14:05:07,"{'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...",-0.2411,neg
8,34,2,5,potholes,General Query,Uttar Pradesh,water supply,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:48:41,closed,2021-03-24 14:07:42,"{'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...",-0.2411,neg
9,35,1,5,potholes,General Query,Uttar Pradesh,water supply,My name is Avery Howard. I am in 2B. My heater...,,2020-12-05 11:49:23,None,NaT,"{'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'comp...",-0.2411,neg
0,25,1,3,irregular water supply,General Query,Punjab,water supply,my water supply is irregular . and not coming ...,,2020-12-05 04:21:13,closed,2020-12-10 10:20:26,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1,27,1,4,voltage problem,General Query,Haryana,voltage fluctuation,eletronics not working properly because of irr...,customer.csv,2020-12-05 04:26:46,in process,2020-12-05 12:25:19,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
10,36,1,4,voltage problem,General Query,Punjab,voltage fluctuation,electricity out for 5 days,,2020-12-05 12:26:43,None,NaT,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
3,29,1,3,irregular water supply,General Query,Punjab,voltage fluctuation,I am calling to report a plumbing issue in my ...,,2020-12-05 11:14:11,closed,2020-12-05 15:42:50,"{'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'comp...",0.0772,pos
5,31,1,5,potholes,General Query,Punjab,bad roads,I am calling to report an issue with our washe...,,2020-12-05 11:15:04,closed,2021-03-12 15:52:27,"{'neg': 0.0, 'neu': 0.939, 'pos': 0.061, 'comp...",0.0772,pos

In [18]:
tableName="abc" 
frame = df.to_sql(tableName, db_connection, if_exists='fail');

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''neg': '0.403e0', 'neu': '0.597e0', 'pos': '0.0e0', 'compound': '-0.8313e0'},...' at line 1")
[SQL: INSERT INTO abc (`index`, `complaintNumber`, `userId`, category, subcategory, `complaintType`, state, noc, `complaintDetails`, `complaintFile`, `regDate`, status, `lastUpdationDate`, score2, compound, comp_score) VALUES (%(index)s, %(complaintNumber)s, %(userId)s, %(category)s, %(subcategory)s, %(complaintType)s, %(state)s, %(noc)s, %(complaintDetails)s, %(complaintFile)s, %(regDate)s, %(status)s, %(lastUpdationDate)s, %(score2)s, %(compound)s, %(comp_score)s)]
[parameters: ({'index': 2, 'complaintNumber': 28, 'userId': 2, 'category': 5, 'subcategory': 'potholes', 'complaintType': 'General Query', 'state': 'Delhi', 'noc': 'bad roads', 'complaintDetails': 'roads are in a very bad shape and they cause many accidents . many people have been injured', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 10, 38, 13), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2020, 12, 5, 10, 43, 16), 'score2': {'neg': 0.403, 'neu': 0.597, 'pos': 0.0, 'compound': -0.8313}, 'compound': -0.8313, 'comp_score': 'neg'}, {'index': 11, 'complaintNumber': 37, 'userId': 1, 'category': 3, 'subcategory': 'contaminated water', 'complaintType': ' Complaint', 'state': 'Haryana', 'noc': 'water supply', 'complaintDetails': 'water is very bad', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 10, 11, 0, 12), 'status': None, 'lastUpdationDate': None, 'score2': {'neg': 0.558, 'neu': 0.442, 'pos': 0.0, 'compound': -0.5849}, 'compound': -0.5849, 'comp_score': 'neg'}, {'index': 12, 'complaintNumber': 38, 'userId': 1, 'category': 4, 'subcategory': 'voltage problem', 'complaintType': ' Complaint', 'state': 'Delhi', 'noc': 'voltage fluctuation', 'complaintDetails': 'i have voltage problem', 'complaintFile': 'PPT FINAL PROJECT.pptx', 'regDate': datetime.datetime(2020, 12, 10, 11, 32, 51), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2020, 12, 10, 11, 34, 46), 'score2': {'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'compound': -0.4019}, 'compound': -0.4019, 'comp_score': 'neg'}, {'index': 13, 'complaintNumber': 39, 'userId': 1, 'category': 4, 'subcategory': 'voltage problem', 'complaintType': ' Complaint', 'state': 'Delhi', 'noc': 'voltage fluctuation', 'complaintDetails': 'i have voltage problem', 'complaintFile': 'PPT FINAL PROJECT.pptx', 'regDate': datetime.datetime(2020, 12, 10, 11, 50, 25), 'status': None, 'lastUpdationDate': None, 'score2': {'neg': 0.574, 'neu': 0.426, 'pos': 0.0, 'compound': -0.4019}, 'compound': -0.4019, 'comp_score': 'neg'}, {'index': 14, 'complaintNumber': 40, 'userId': 1, 'category': 3, 'subcategory': 'irregular water supply', 'complaintType': ' Complaint', 'state': 'Punjab', 'noc': 'water supply', 'complaintDetails': 'irrigulay water supply . i am facing a lot of problem', 'complaintFile': '', 'regDate': datetime.datetime(2021, 3, 24, 14, 12, 53), 'status': None, 'lastUpdationDate': None, 'score2': {'neg': 0.278, 'neu': 0.722, 'pos': 0.0, 'compound': -0.4019}, 'compound': -0.4019, 'comp_score': 'neg'}, {'index': 4, 'complaintNumber': 30, 'userId': 1, 'category': 4, 'subcategory': 'load shedding', 'complaintType': 'General Query', 'state': 'Delhi', 'noc': 'voltage fluctuation', 'complaintDetails': 'I am calling to report a problem with our electricity. My name is Maya Robinson. And my phone number is 305-555-0122.\r\n', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 11, 14, 36), 'status': 'in process', 'lastUpdationDate': datetime.datetime(2021, 3, 12, 14, 18, 26), 'score2': {'neg': 0.129, 'neu': 0.81, 'pos': 0.062, 'compound': -0.34}, 'compound': -0.34, 'comp_score': 'neg'}, {'index': 6, 'complaintNumber': 32, 'userId': 1, 'category': 4, 'subcategory': 'voltage problem', 'complaintType': 'General Query', 'state': 'Punjab', 'noc': 'voltage fluctuation', 'complaintDetails': 'My name is Monica Thomson. I am in 1B. My garage door is not opening. Please call me at 360-555-0122.\r\n', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 11, 15, 33), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2021, 3, 24, 14, 3, 15), 'score2': {'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'compound': -0.2411}, 'compound': -0.2411, 'comp_score': 'neg'}, {'index': 7, 'complaintNumber': 33, 'userId': 1, 'category': 4, 'subcategory': 'load shedding', 'complaintType': 'General Query', 'state': 'Uttar Pradesh', 'noc': 'voltage fluctuation', 'complaintDetails': 'My name is Avery Howard. I am in 2B. My heater is not working. Please call me at 604-555-0122.\r\n', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 11, 15, 59), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2021, 3, 24, 14, 5, 7), 'score2': {'neg': 0.103, 'neu': 0.897, 'pos': 0.0, 'compound': -0.2411}, 'compound': -0.2411, 'comp_score': 'neg'}  ... displaying 10 of 15 total bound parameter sets ...  {'index': 3, 'complaintNumber': 29, 'userId': 1, 'category': 3, 'subcategory': 'irregular water supply', 'complaintType': 'General Query', 'state': 'Punjab', 'noc': 'voltage fluctuation', 'complaintDetails': 'I am calling to report a plumbing issue in my apartment. I am in 2A. My name is Gabriel Diaz. My phone number is 425-555-0122.\r\n', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 11, 14, 11), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2020, 12, 5, 15, 42, 50), 'score2': {'neg': 0.0, 'neu': 0.942, 'pos': 0.058, 'compound': 0.0772}, 'compound': 0.0772, 'comp_score': 'pos'}, {'index': 5, 'complaintNumber': 31, 'userId': 1, 'category': 5, 'subcategory': 'potholes', 'complaintType': 'General Query', 'state': 'Punjab', 'noc': 'bad roads', 'complaintDetails': 'I am calling to report an issue with our washer. I am in apartment 5A. My phone number is 206-555-0122. I am Anthony Ivanov.\r\n', 'complaintFile': '', 'regDate': datetime.datetime(2020, 12, 5, 11, 15, 4), 'status': 'closed', 'lastUpdationDate': datetime.datetime(2021, 3, 12, 15, 52, 27), 'score2': {'neg': 0.0, 'neu': 0.939, 'pos': 0.061, 'compound': 0.0772}, 'compound': 0.0772, 'comp_score': 'pos'})]
(Background on this error at: http://sqlalche.me/e/13/f405)